@charset "UTF-8";
.image {
	border: 2px solid black;
	width: 200px;
}

.right {
	text-align: right;
}

td, th{
	text-align: left;

}

.leftUl{
  float: left;
  padding: 10px;
}


.tab_title {
	width:  90%;
}

.tab_title li {
	/* list-style: none;
	float: left;
	width: 100px;
	padding: 10px 15px;
	cursor: pointer;
	text-align: center;
	border: 1px solid #bebebe; */	
	padding-top: 10px;
	text-align: center;
	position: relative;
    height : 38px;
    border: 1px ;
    width : 49%;
    display: inline-block;
    border-radius: 5px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    cursor: pointer;
    font-weight: bold;
	color: var(--darker-color);
}

.tab_title li.on {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.tab_cont {
	clear: both;
	height: 250px;
}

.tab_cont>div {
	display: none;
	text-align: center;
}

.tab_cont div.on {
	display: block;
}

.memeberT {
	margin: 0 auto;
}

.reviewCon {
	float: left;
}

.pagination {
	margin: 0 auto;
}

.pagination ul {
	display: inline-block;
}

.pagination ul li {
	float: left;
}

ul li {
	list-style-type: none;
	display: inline;
	margin-left: 5px;
}
.memeberT{
	border-collapse: collapse;
}
.btn_middle1{
    position: relative;
    height : 2em;
    width : 80px;
    border: none;
    display: inline-block;
/*     padding: 0px 30px; */
    border-radius: 10px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    cursor: pointer;
    background-color: var(--darker-color);
	color : var(--white-color);
 }
